<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Simple Socmed">
        <meta name="author" content="Catherine NSH">
        <title>Simple Socmed - Beranda</title>
        <link rel="icon" href="/gambar/3cm Pio.png">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" >
        <link rel="stylesheet" href="/custom/sign-in.css">
        <script>src ="/bootstrap/js/bootstrap.js"</script>
    </head>
    <body>
        <main class="form-signin w-100 m-auto mt-5">


<form action="/proses-signup" method="post">

        <img class="mb-4" src="/gambar/3cm Pio.png" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Make an Account</h1>

        <label class="form-label">Nama Lengkap</label>
        <input type="text" id="nama_lengkap" name="form_namalengkap" class="form-control" required>

        <label class="form-label">Username</label>
        <br>
        <input type="text" id="username" name="form_username" class="form-control" required>


        <label>Password</label> <br>
        <input type="password" id="password" name="form_password" class="form-control" required>

        <div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
        </div>
</form>


</main>
</body>
</html>